* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 6%;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 3% auto;
}

tr {
  height: 5%;
}

.selecter:hover {
  background-color: #b8db89;
  z-index: 999;
}
.uppercase {
  text-transform: uppercase;
  text-align: left;
  margin-left: 2%;
}
.selecter_number {
  text-align: right;
  padding-right: 6%;
}
th,
td {
  border: 2px solid #000;
  width: 200px;
  height: 35px;
  text-align: center;
  border-spacing: 0px;
}

thead {
  background-color: #00502f;
  color: #fff;
  text-transform: uppercase;
}

.btn {
  padding: 9px 15px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  min-width: 150px;
  min-height: 50px;
  margin: 20px;
  background-color: #00502f;
  color: #fff;
  font-size: 20px;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
}

.btnDelete {
  padding: 3px;
  margin-left: 20px;
}

.boxChange {
  border: 2px solid black;
}

.navBar {
  width: 60%;
  height: 10%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navBar_item {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  color: #000;
  padding: 20px 25px;
  min-width: 250px;
  background-color: #00502f;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin: 30px 80px;
}

.bg {
  width: 100%;
  height: 100%;
}

.User {
  text-decoration: none;
  color: #000;
  transition-property: scale();
  transition-duration: 1s;
}
.User:active {
  transform: scale(0.6);
}
.back-btn {
  position: absolute;
  bottom: 5%;
  right: 2%;
}
