.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  min-height: 100vh;
  margin-top: 20px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

tr,th,td{
  border: 2px solid #000;
  min-width: 200px;
  height: 35px;
}
.inputs{
  margin-top: 20px;
  text-align: center;
  height: 35px;
  min-width: 200px;
}
.inputs-value{
  margin: 0 20px 20px 0;
  height: 35px;
  padding: 10px;
  min-width: 200px;
}
.btn{
  padding: 9px 15px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}
.btn:hover{
  background-color: cornflowerblue;
}
