.inputs {
  padding-top: 20px;
  text-align: center;
  height: 35px;
  min-width: 200px;
}

.inputs-value {
  margin: 0 20px 20px 0;
  height: 35px;
  padding: 10px;
  min-width: 200px;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
}
.inputAmount {
  position: absolute;
  bottom: 40%;
  left: 38%;
  padding: 40px;
  height: 80px;
  font-size: 32px;
  margin-bottom: 3%;
  border: 20px solid black;
  /* border-radius: 5%; */
}
.btn_inputAmount {
  border: 2px solid #00502f;
  position: absolute;
  bottom: 40%;
  left: 39%;
  height: 8%;
  font-size: 32px;
  width: 25%;
  border-radius: 12px;
}
.btn_inputAmount_input {
  height: 100%;
  width: 70%;
  outline: none;
  border: none;
  font-size: 24px;
  padding-left: 3%;
  border-radius: 10px 0 0 10px;
}
.btn_inputAmount_submit {
  position: absolute;
  top: 0;
  height: 99%;
  width: 30%;
  border: none;
  cursor: pointer;
  background-color: #00502f;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
}
