.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 0 1% 0;
}

.header_menu h3 {
  display: block;
  margin: 10px;
}

.menu {
  min-width: 100vh;
  min-height: 100vh;
}
