@media screen and (min-width: 1025px) {
  .Withdrawal_button_main {
    font-size: 24px;
    width: 25%;
  }
  .Withdrawal_cofirm {
    position: absolute;
    bottom: 12%;
  }
  .header_menu {
    margin-top: 0%;
  }
  .BalanceInquiry_button {
    min-width: 14%;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    margin: 50px 100px;
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: -3%;
  }
  .transfer_Container {
    width: 900px;
  }
  .transfer_section h4,
  h5 {
    font-size: 18px;
  }
  .transtion_btn_inputAmount_input,
  .transition_btn_inputAmount {
    font-size: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .PageHeader {
    height: 8%;
  }
  th,
  td {
    font-size: 12px;
  }
  .header_menu h3 {
    margin-top: 10%;
  }
  .navBar {
    width: 1000;
  }
  .navBar_item {
    font-size: 20px;
    min-width: 250px;
  }
  .back-btn {
    position: absolute;
    bottom: 4%;
    right: 0%;
  }
  .PageHeader {
    min-height: 6%;
  }
  .BalanceInquiry_box {
    margin-top: 2%;
  }
  .header_menu {
    margin-top: 20%;
  }
  .Withdrawal {
    margin-top: 10%;
  }
  .Withdrawal_box {
    margin-top: 0%;
  }
  .Withdrawal_cofirm {
    position: absolute;
    bottom: 26%;
  }
  .BalanceInquiry_button {
    min-width: 25%;
  }
  .App h1 {
    font-size: 34px;
  }
  .Withdrawal_button_main {
    width: 25%;
    font-size: 16px;
  }

  element.style {
  }
  .btn_effect {
    transition-property: scale();
    transition-duration: 1s;
    box-shadow: 3px 3px #999;
  }
  .Withdrawal_button {
    margin: 28px 100px;
  }
  .transtion_btn_inputAmount_input,
  .transition_btn_inputAmount {
    font-size: 24px;
  }
  .btn_inputAmount_submit {
    font-size: 22px;
  }
  .btn_inputAmount {
    left: 33%;
    height: 6%;
    font-size: 32px;
    width: 38%;
}
}
@media screen and (max-width: 768px) {
  .PageHeader {
    min-height: 6%;
  }
  .PageHeader h2 {
    font-size: 16px;
  }
  .App h1 {
    font-size: 24px;
  }
  th {
    font-size: 11px;
  }
  td {
    font-size: 10px;
  }
  .sub_menu {
    margin-top: 14%;
  }
  .transtion_btn_inputAmount_input,
  .transition_btn_inputAmount {
    font-size: 18px;
  }
  .header_menu h3 {
    font-size: 18px;
    margin-top: 20%;
  }
  .header_menu h2 {
    font-size: 16px;
    padding: 24px;
  }
  .navBar_item {
    font-size: 14px;
    min-width: 160px;
    margin: 20px 30px;
    height: 45px;
    padding: 14px 5px;
  }
  .navBar {
    width: 80%;
  }
  .BalanceInquiry_button {
    min-width: 160px;
    height: 45px;
    font-size: 14px;
    cursor: pointer;
  }

  .BalanceInquiry_box {
    min-width: 500px;
    min-height: 220px;
    margin-top: 4%;
  }
  .BalanceInquiry_box_lable {
    position: absolute;
    top: 0;
    padding: 20px;
    min-width: 100%;
    max-width: 800px;
    background-color: #b8db89;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  .BalanceInquiry h2 {
    font-size: 16px;
  }
  .Withdrawal h1 {
    font-size: 18px;
  }
  .Withdrawal h3 {
    font-size: 16px;
    margin: 3%;
  }
  .Withdrawal_button {
    min-width: 160px;
    height: 45px;
    font-size: 14px;
    margin: 12px 50px;
  }
  .Withdrawal_box {
    justify-content: center;
    margin-top: 10%;
  }
  .header_menu h3 {
    margin-top: 10%;
  }
  .btn_inputAmount {
    position: absolute;
    bottom: 44%;
    left: 33%;
    height: 9%;
    font-size: 22px;
    width: 38%;
    border-radius: 12px;
  }
  .Withdrawal_cofirm {
    position: absolute;
    bottom: 29%;
  }
  .bill_container {
    font-size: 14px;
  }
  .btn {
    width: 300px;
    min-height: 45px;
    font-size: 15px;
  }
  .bill_container {
    width: 100%;
    align-items: center;
    margin-top: 5%;
  }
  .BillingInfor {
    margin-top: 12%;
  }
  .BillingInfor h2 {
    font-size: 26px;
  }
  .BillingInfor h3 {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .Withdrawal {
    margin-top: 3%;
  }
  .Withdrawal_button_other {
    width: 150px;
    height: 45px;
    font-size: 16px;
    margin: 40px 50px;
  }
  .transfer > h1 {
    font-size: 22px;
  }
  .transfer h3 {
    font-size: 14px;
  }
  .transfer h4 {
    font-size: 12px;
  }
  /* .transfer_section {
    min-width: 500px;
    padding: 10px 0;
  } */
  .transfer_section > h5 {
    display: flex;
    justify-content: end;
  }
  .transition_btn_inputAmount {
    font-size: 26px;
    width: 45%;
  }
  .transfer_continue {
    min-width: 35%;
    height: 45px;
    font-size: 18px;
  }
  .PageHeader h2 {
    font-size: 14px;
  }
  .BalanceInquiry_button {
    min-width: 22%;
    height: 45px;
    font-size: 14px;
    position: absolute;
    bottom: 10%;
    right: -3%;
    cursor: pointer;
  }
  .sub_menu {
    margin-top: 18%;
  }
  .header_menu {
    margin-top: 12%;
  }

  .transfer_Container {
    width: 100%;
  }
}
