@media screen and (max-width: 768px) {
  .PageHeader {
    min-height: 8%;
    font-size: 12px;
    min-width: 100vw;
  }
  .BalanceInquiry_box_lable {
    max-width: 600px;
    font-size: 16px;
  }
  /* .PageHeader {
    min-height: 4%;
    font-size: 12px;
    min-width: 100vw;
  } */
  .BalanceInquiry_box {
    min-width: 500px;
    font-size: 18px;
    min-height: 200px;
  }
  .BalanceInquiry_box_lable {
    min-width: 500px;
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .PageHeader {
    min-height: 4%;
    font-size: 12px;
    min-width: 100vw;
  }
  .BalanceInquiry_box {
    min-width: 300px;
    font-size: 12px;
    min-height: 200px;
  }
  .BalanceInquiry_box_lable {
    min-width: 300px;
    font-size: 14px;
  }
}
