@media screen and (max-width: 412px) {
  .PageHeader {
    min-height: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .PageHeader h2 {
    font-size: 11px;
    padding-bottom: 1%;
  }
  .App h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  th {
    padding: 1%;
    font-size: 8px;
  }
  td {
    font-size: 6px;
    align-items: center;
    padding: 1%;
  }
  .BalanceInquiry_button {
    min-width: 39%;
    height: 3.5%;
    font-size: 14px;
    position: absolute;
    bottom: 9%;
    right: 5%;
  }
  .BalanceInquiry_box_lable {
    padding: 14px;
    max-width: 300px;
    background-color: #b8db89;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
  }
  .BalanceInquiry h2 {
    font-size: 14px;
  }
  .BalanceInquiry_box {
    min-width: 350px;
    min-height: 150px;
    margin-top: 34%;
  }
  .header_menu {
    margin-top: 24%;
  }
  .sub_menu {
    margin-top: -3%;
  }
  .Withdrawal_button {
    min-width: 35%;
    height: 45px;
    font-size: 14px;
    margin: 12px 10px;
  }
  .Withdrawal_cofirm {
    position: absolute;
    bottom: 32%;
    left: 22%;
    width: 70%;
  }
  .header_menu h3,
  .Withdrawal h1 {
    font-size: 14px;
  }
  .header_menu h2 {
    font-size: 12px;
  }
  .Withdrawal h3 {
    font-size: 12px;
    margin: 3%;
    padding-top: 5%;
  }
  .BillingInfor_btn {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Withdrawal_button_other {
    width: 85%;
  }
  .BillingInfor h2 {
    font-size: 20px;
  }
  .transfer > h1 {
    font-size: 14px;
  }
  .transfer_Container {
    width: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .transfer h3 {
    font-size: 12px;
  }
  .transfer h4 {
    font-size: 10px;
  }
  .transfer_section > h5 {
    font-size: 10px;
  }
  .transition_btn_inputAmount {
    font-size: 12px;
    min-width: 40%;
  }
  .transfer_continue {
    min-width: 50%;
    height: 50px;
    font-size: 14px;
  }
  .transtion_btn_inputAmount_input,
  .transition_btn_inputAmount {
    font-size: 14px;
  }

  .bill_container {
    width: 100%;
    align-items: center;
    margin-top: 24%;
  }
  .btn_inputAmount_submit {
    font-size: 12px;
  }
  .btn_inputAmount {
    left: 28%;
    height: 5%;
    width: 50%;
  }
  .Withdrawal_cofirm_other {
    position: absolute;
    bottom: inherit;
    left: -1%;
    width: 105%;
    font-size: 2px;
  }
}
