.Withdrawal {
  min-width: 100vh;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Withdrawal h3 {
  margin-top: 10px;
}
.Withdrawal_box {
  display: flex;
  max-width: 800px;
  flex-direction: row;
  flex-wrap: wrap;
}
.Withdrawal_button {
  min-width: 200px;
  height: 50px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  margin: 30px 100px;
  cursor: pointer;
  background-color: #00502f;
  color: #fff;
}
.Withdrawal_button:focus {
  background-color: gainsboro;
  color: #000;
}
.Withdrawal_button:hover {
  background-color: gainsboro;
  color: #000;
}
.Withdrawal_button_main {
  background-color: #00502f;
  box-shadow: 3px 3px #999;
}
.Withdrawal_button_other {
  width: 200px;
  height: 50px;
  font-size: 24px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin: 30px 100px;
  text-align: center;
  border: none;
  background-color: #00502f;
  color: #fff;
}
.Withdrawal_button_other:active {
  background-color: gainsboro;
  color: #fff;
}
.Withdrawl_btn_confirm {
  background-color: green;
  font-weight: 600;
}
.Withdrawl_btn_cancel {
  background-color: red;
  font-weight: 600;
}
.Withdrawal_cofirm {
  position: absolute;
  bottom: 12%;
}
.Withdrawal_cofirm_other {
}
